.loaderContainer {
  // -webkit-backface-visibility: hidden;
  background: #332b33;
  border-radius: 0px 0px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loaderImg {
  max-width: 25rem;
  position: relative;
  background: #332b33;
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  animation: ImgAnim 1.8s infinite alternate;
  -webkit-animation: ImgAnim 1.8s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
.loaderTxt {
  position: absolute;

  height: 32px;

  margin: -7.5rem auto;
  -webkit-font-smoothing: antialiased;

  font-size: 2.6rem;
  font-weight: 400;
  color: #a83acd;
  animation-timing-function: ease-out;
  animation: txtAnim 1.2s infinite;
  -webkit-animation: txtAnim 1.2s infinite;
  -webkit-animation-timing-function: ease-out;
  overflow: hidden;
}
.loaderStaticImg {
  fill: #a83acd;
  position: relative;
  transform: translate(20%, 10%);
}
@keyframes ImgAnim {
  0% {
    transform: translateX(0rem);
  }
  50% {
    transform: translateX(-4rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
@-webkit-keyframes ImgAnim {
  0% {
    transform: translateX(0rem);
  }
  50% {
    transform: translateX(-4rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
@keyframes txtAnim {
  0% {
    width: 5rem;
  }
  20% {
    width: 10rem;
  }
  40% {
    width: 15rem;
  }
  60% {
    width: 20rem;
  }
  80% {
    width: 25rem;
  }
  // 80% {
  //   width: 25rem;
  // }
  100% {
    width: 30rem;
  }
}

@-webkit-keyframes txtAnim {
  0% {
    width: 7ch;
  }
  16% {
    width: 8ch;
  }
  32% {
    width: 9ch;
  }
  48% {
    width: 10ch;
  }
  64% {
    width: 11ch;
  }
  80% {
    width: 12ch;
  }
  100% {
    width: 13ch;
  }
}
