@import '../variables.scss';

.wrapper {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  max-width: 70%;
  top: 30%;
  display: flex;
  flex-direction: column;

  p {
    font-size: 2.5rem;
    @media (max-width: $screen-md) {
      font-size: 1.5rem;
    }
  }
  h3 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.7;
    text-shadow: 0 5px 0 #000000;
    @media (max-width: $screen-md) {
      font-size: 2rem;
    }
  }
}
.thnkPgWrapper {
  @extend.wrapper;
  align-items: center;
  top: 15%;
  img {
    @media (max-width: $screen-md) {
      max-width: 80vw;
    }
  }
  button {
    @media (max-width: $screen-md) {
      font-size: 2.6rem;
      margin-top: 3rem;
    }
  }
}
.quoteWrapper {
  @extend.wrapper;
  @media (max-width: $screen-md) {
    top: 15%;
  }
}
.intlPgWrapper {
  display: flex;
  justify-content: center;
  button {
    margin-top: 15vh;
  }
}
