@import '../../variables.scss';

.wrapper {
  top: 15%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50vw;
  height: 40vh;
  position: fixed;
  z-index: 99;
  background: #332b33;
  box-shadow: 3px -4px 5px #ff67df, 0px 20px 13px #332b33;
  @media (max-width: $screen-xl) {
    width: 90vw;
    top: 10%;
  }
}
