@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 62.5%; /*happy rems 1rem = 10px */
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}
body {
  background: #332b33;
  height: 100vh;
  position: relative;
}
@media only screen and (max-width: 600px) {
}
