@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;800&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 62.5%; /*happy rems 1rem = 10px */
  font-family: 'Baloo Chettan 2', cursive;
}
button,
input,
textarea {
  font-family: 'Baloo Chettan 2', cursive;
}
button,
a {
  cursor: pointer;
}
body {
  background: #f8dd76;
}
