/* @import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Italianno&family=Kavivanar&family=Mali:wght@400;600&family=Sedgwick+Ave&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Kavivanar&family=Scope+One&family=Sedgwick+Ave&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 62.5%; /*happy rems 1rem = 10px */
/* font-family: 'Kavivanar', cursive; */
/* font-family: 'Sedgwick Ave', cursive; */
font-family: 'Scope One', serif;

  color: #fff;
}
button,input, textarea{
  /* font-family: 'Sedgwick Ave', cursive; */
/* font-family: 'Kavivanar', cursive; */
font-family: 'Scope One', serif;

}
body {
  background: #332b33;
  height: 100vh;
  position: relative;
}

